@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #f87171;
  --color-primary-hover: #dc2626;
  --color-border: var(--color-gray-300)

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-hindu-title);
  --font-hindu-body: var(--font-hindu-body);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #949698bb;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c6d6f;
}

/* Hide scrollbar for scrollable news sections */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-border: var(--color-gray-300);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-hindu-title);
  --font-hindu-body: var(--font-hindu-body);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  overscroll-behavior: contain;
  font-family: 'Hind', sans-serif;
}

.container {
  max-width: 1200px ;
}

button {
  cursor: pointer;
}

.marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 12s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

/* @font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Regular.ttf') format('truetype');
  font-style: normal;
} */
/* Repeat for other weights/styles */